/* ============================================================================
 * MixMedia global StyleSheet. 
============================================================================
============================================================================ */

/* ============================================================================
 * Global Styles
 */
ul, li, h1, h2, h3, h4, p, div, span, a, footer {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: 'Stag Sans';
	font-weight: 300;
	text-decoration: none;
}
h1, h2, h3, h4 {
	font-family: 'Stag';
    font-weight: 500;
    margin-bottom: 20px;
}
p {
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 20px;
}

/* ============================================================================
 * Titres des contenus
 */
h1 { font-size: 36px;}
h2 { font-size: 24px;}
h3 { font-size: 20px;}
h4 { font-size: 18px;}

/* ============================================================================
 * HEADER
 */

 #block-mixmedia-main-menu {
 	display: none;
 }
#block-mixmedia-branding {
	width: 200px;
	margin: 40px 0;
}
body.path-frontpage #block-mixmedia-branding {
	width: 250px;
	margin: 40px auto 80px auto;
}
#block-mixmedia-branding img {
	width: 150px;
	height: auto;
}
body.path-frontpage #block-mixmedia-branding img {
	width: 250px;
}

/* ============================================================================
 * Node Movie
 */

body.node--type-movie article[role="article"] {
	margin-bottom: 50px;
}

.node-movie-content-container,
.datas-movie-infos,
.synopsis-movie-genre,
ul.movie-countries {
	display: flex;
}
.dummy-image-movie-content {
	width: 30%;
	padding: 0;
	margin: 0;
}
.node-movie-content-container .right-node-content {
	padding: 0 2.5% 2.5%;
	width: 65%;
}
.right-node-content h1 {
	margin-bottom: 0;
}
.synopsis-movie-content {
	 font-family: 'Stag Sans';
	 font-weight: 300;
}
.synopsis-movie-content h2 {
	 margin: 0;
	 padding: 0;
}
.synopsis-movie-genre a {
	display: block;
	padding: 7px 10px;
	margin-bottom: 20px;
	color: #fff;
	background-color:#222;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 13px;
	font-weight: 500;
	border-radius: 2px;
	transition: background-color 200ms ease-out;
}
.synopsis-movie-genre a:hover {
	background-color:#999;
}
.datas-movie-infos li {
	margin: 0 7px;
	position: relative;
	padding-left: 23px;
	font-weight: 400;
	color: #555;
	font-size: 12px;
	text-transform: uppercase;
}
.datas-movie-infos li a {
	color: #555;
	font-weight: 400;
}
.datas-movie-infos li:first-child {
	margin-left: 0;
}
.datas-movie-infos li:last-child {
	margin-right: 0;
}
.datas-movie-infos li:before,
ul.movie-countries:before {
	display: block;
	font-family: FontAwesome;
	position: absolute;
	font-size: 20px;
	left: 0;
	top: -8px;
	font-weight: normal;
	color: #444;
}

.datas-movie-infos .movie-release-date:before {
	content: "\f073";
	color: #E95F7A;
	font-size: 18px;
	top: -7px;
}
.datas-movie-infos ul.movie-countries:before {
	content: "\f0ac";
	color: #A5B3FD;
}
.datas-movie-infos .movie-runtime:before {
	content: "\f017";
	color: #ACF173;
}

ul.movie-countries {
	position: relative;
	padding-left: 23px;
	margin: 0 0 0 7px;
}

ul.movie-countries li {
	padding: 0;
	margin: 0;
}

ul.movie-countries li:after {
	content: "/";
	display: inline-block;
	padding: 0 3px;
}

ul.movie-countries li:last-child::after {
	content: "";
}


/* ============================================================================
 * Mur Cinema Home
 */
.masonry { 
   column-count: 3;
    column-gap: 1em;
    width: 100%;
    margin-bottom: 60px;
}
.masonry-brick {
  background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    overflow: hidden;
    border-radius: 5px;
}

.touslesfilms-btn {
	display: block;
	width: 450px;
	padding: 20px 0;
	margin:60px auto;
	text-align: center;
	position: relative;
	font-size: 20px;
	line-height: 20px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
	background-color: rgba(0,0,0,0.05);
	font-family: 'Stag';
    font-weight: 500;
    color: rgba(0,0,0,1);
    border-radius: 10px;
    transition: all 200ms ease-out;
}

.touslesfilms-btn:hover {
	background-color: rgba(0,0,0,1);
	color: rgba(255,255,255,1);
}
.touslesfilms-btn:before,
.touslesfilms-btn:after {
	content: "\f008";
	font-family: FontAwesome;
	font-weight: normal;
	position: absolute;
	color: rgba(0,0,0,1);
	font-size: 20px;
}

.touslesfilms-btn:hover::before,
.touslesfilms-btn:hover::after { color: rgba(255,255,255,1); }

.touslesfilms-btn:before { left: 20px; }
.touslesfilms-btn:after { right: 20px; }

/* ============================================================================
 * FOOTER
 */
.bottom-bar.panel { text-align: center; }

footer {
	height: 300px;
	max-width: 100%!important;
	background: #222 url("../images/bg-footer.png") center top no-repeat;
	background-size: cover;
	position: relative;
}

footer .columns {
	margin-top: 40px;
	width: 20%;
	padding: 0;
	margin: 0;
	text-align: center;
}
footer .columns h3 {
	margin: 50px 0 10px 0;
	color: #FFFFFF;
}

footer #footer-logo {
	position: relative;
	text-align: center;
}
footer #footer-logo img {
	position: relative;
	max-width: 150px;
	margin-top: 55px;
}
.menu-footer li a,
.txt-footer-apropos {
	color: rgba(255,255,255,0.6);
	transition: color 200ms ease-out;
	font-family: 'Stag';
}
.txt-footer-apropos strong {
	font-weight: 500;
	color: rgba(255,255,255,0.9);
}
.menu-footer li a:hover {
	color: rgba(255,255,255,1);
}