/* ============================================================================
 * MixMedia global StyleSheet. 
============================================================================
============================================================================ */

/* ============================================================================
 * Global Styles
 */

ul, li, h1, h2, h3, h4, p, div, span, a, footer {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: 'Stag Sans';
	font-weight: 300;
	text-decoration: none;
}

h1, h2, h3, h4 {
	font-family: 'Stag';
    font-weight: 500;
    margin-bottom: 20px;
}

p {
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 20px;
}

/* ============================================================================
 * Titres des contenus
 */

h1 { font-size: 36px;}
h2 { font-size: 24px;}
h3 { font-size: 20px;}
h4 { font-size: 18px;}

/* ============================================================================
 * HEADER
 */

 #block-mixmedia-main-menu {
 	display: none;
 }

#block-mixmedia-branding {
	width: 200px;
	margin: 40px 0;
}

body.path-frontpage #block-mixmedia-branding {
	width: 250px;
	margin: 40px auto 80px auto;
}

#block-mixmedia-branding img {
	width: 150px;
	height: auto;
}

body.path-frontpage #block-mixmedia-branding img {
	width: 250px;
}

/* ============================================================================
 * Node Movie
 */

body.node--type-movie article[role="article"] {
	margin-bottom: 50px;
}

.node-movie-content-container,
.datas-movie-infos,
.synopsis-movie-genre {
	display: flex;
}
.dummy-image-movie-content {
	width: 30%;
	padding: 0;
	margin: 0;
}
.node-movie-content-container .right-node-content {
	padding: 0 2.5% 2.5%;
	width: 65%;
}
.right-node-content h1 {
	margin-bottom: 0;
}
.synopsis-movie-content {
	 font-family: 'Stag Sans';
	 font-weight: 300;
}
.synopsis-movie-content h2 {
	 margin: 0;
	 padding: 0;
}
.synopsis-movie-genre a {
	display: block;
	padding: 7px 10px;
	margin-bottom: 20px;
	color: #fff;
	background-color:#222;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 13px;
	font-weight: 500;
	border-radius: 2px;
	-webkit-transition: background-color 200ms ease-out;
}
.synopsis-movie-genre a:hover {
	background-color:#999;
}
.datas-movie-infos li {
	margin: 0 7px;
	position: relative;
	padding-left: 23px;
	font-weight: 400;
	color: #555;
	font-size: 12px;
	text-transform: uppercase;
}
.datas-movie-infos li a {
	color: #555;
	font-weight: 400;
}
.datas-movie-infos li:first-child {
	margin-left: 0;
}
.datas-movie-infos li:last-child {
	margin-right: 0;
}
.datas-movie-infos li:before {
	display: block;
	font-family: FontAwesome;
	position: absolute;
	font-size: 20px;
	left: 0;
	top: -8px;
	font-weight: normal;
	color: #444;
}
.datas-movie-infos .movie-release-date:before {
	content: "\f073";
	color: #E95F7A;
	font-size: 18px;
	top: -7px;
}
.datas-movie-infos .movie-countries:before {
	content: "\f0ac";
	color: #A5B3FD;
}
.datas-movie-infos .movie-runtime:before {
	content: "\f017";
	color: #ACF173;
}

/* ============================================================================
 * Mur Cinema Home
 */
.masonry { 
   column-count: 3;
    column-gap: 1em;
    width: 100%;
    margin-bottom: 60px;
}

.masonry-brick {
  background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
}

.masonry-brick img {
	
}

/* ============================================================================
 * FOOTER
 */

.bottom-bar.panel {
	text-align: center;
}

footer {
	height: 300px;
	max-width: 100%!important;
	background: #222 url("../images/bg-footer.png") center top no-repeat;
	background-size: cover;
	position: relative;
}

footer #footer-logo {
	position: absolute;
	width: 150px;
	left: 50%;
	margin-left: -75px;
	top: 100px;
}

footer #footer-logo img {
	position: relative;
	max-width: 150px;
}